<div class="home-container">
  <h1>Inicio</h1>
  <div class="post">
    <h2>Playa del rey</h2>
    <p>Nayarit</p>
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/379848374.jpg?k=926bbbec55b7ff539852a6a4feaea590c941ab804a47b9d05834f443da64f8e4&o=&hp=1" alt="Foto publicada por el usuario" class="post-image" />
    <div class="actions">
      <ion-icon name="heart" aria-hidden="true"></ion-icon>
      <ion-icon name="chatbubble" aria-hidden="true"></ion-icon>
      <ion-icon name="share-social" aria-hidden="true"></ion-icon>
    </div>
  </div>

  <div class="post">
    <h2>Playa de barro</h2>
    <p>Nayarit</p>
    <img src="https://storage.googleapis.com/tribunetravel/2023/08/barro-beach1.jpg" alt="Foto publicada por el usuario" class="post-image" />
    <div class="actions">
      <ion-icon name="heart" aria-hidden="true"></ion-icon>
      <ion-icon name="chatbubble" aria-hidden="true" class="icon"></ion-icon>
      <ion-icon name="share-social" aria-hidden="true" class="icon"></ion-icon>
    </div>
  </div> 

  <div class="post">
    <h2>Playa el naranjo</h2>
    <p>Nayarit</p>
    <img src="https://sandee.com/_next/image?url=https%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipNh1IordlCBdfspx2n7J3Jrmodf6gKbRFD8viu9%3Ds1600-k-no&w=3840&q=75" alt="Foto publicada por el usuario" class="post-image" />
    <div class="actions">
      <ion-icon name="heart" aria-hidden="true"></ion-icon>
      <ion-icon name="chatbubble" aria-hidden="true"></ion-icon>
      <ion-icon name="share-social" aria-hidden="true"></ion-icon>
    </div>
  </div>
</div>
