<div class="settings-container">
  <h1>Ajustes</h1>
  <div class="settings-group">
    <ion-item>
      <ion-label>Tema</ion-label>
      <ion-toggle slot="end" name="themeToggle"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end" name="notificationsToggle"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-select slot="end" placeholder="Seleccionar">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Inglés</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item button>
      <ion-label>Cambiar contraseña</ion-label>
      <ion-icon slot="end" name="lock-closed"></ion-icon>
    </ion-item>
    <ion-item button>
      <ion-label>Cerrar sesión</ion-label>
      <ion-icon slot="end" name="log-out"></ion-icon>
    </ion-item>
  </div>
</div>
